* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}


body {
    width: 95%;
    margin: 0 auto;
    background-color: #8AB17D;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-container {
    background-color: antiquewhite;
    border-radius: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-side, .left-side {
    list-style-type: none;
}

.right-side li, .left-side li {
    display: inline-block;
}

.right-side li a, .left-side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #806987;
    padding: 14px 16px;
    font-weight: bold;
}

.right-side li a:hover, .left-side li a:hover {
    color: #8AB17D;
}

.concept {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .collage {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border-radius: 5px;
}

.container .box .collage img {
    width: 100%;
    padding-bottom: 15px;
}

h1 {
    color: antiquewhite;
    font-weight: 100;
    text-align: center;
    font-size: 50px
}

h2 {
    color: antiquewhite;
    font-weight: 100;
    text-align: center;
}


h4 {
    color: antiquewhite;
    font-weight: 100;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

p {
    color: antiquewhite;
    font-weight: 100;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.overzicht {
    font-weight: 200;
    text-align: left;
    padding: 20px 0px 0px 10px
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.gerechten-tekst {
    font-family: 'Times New Roman', Times, serif;
    color: #806987;
    text-align: center;
    padding: 0px 0px 20px 15px;
}

.container-overzicht {
    background-color: antiquewhite; 
    width: 300px;
    height: 600px;
    margin: 10px;
    border-radius: 15px;
}

.container-image {
    height: 500px;
    margin: 15px;
    background-size: cover
}

.gerecht1 {
    background-image: url(./img/springroll.jpg);
/* https://nl.pinterest.com/pin/903112531500182000/ */
}

.gerecht2 {
    background-image: url(./img/dip.jpg);
    /* https://nl.pinterest.com/pin/82190761943134474/ */
}


.gerecht3 {
    background-image: url(./img/pan.jpg);
    /* https://nl.pinterest.com/pin/603623156329017644/ */
}


.gerecht4 {
    background-image: url(./img/salmondinner.jpg);
    /* https://nl.pinterest.com/pin/82190761942779436/ */
}


.gerecht5 {
    background-image: url(./img/chickenpasta.jpg);
    /* https://nl.pinterest.com/pin/603623156329017644/ */
}


.gerecht6 {
    background-image: url(./img/chickenrice.jpg);
    /* https://nl.pinterest.com/pin/343892121558828188/ */
}


.gerecht7 {
    background-image: url(./img/chickenburrito.jpg);
    /* https://nl.pinterest.com/pin/96968198218503889/ */
}


.gerecht8 {
    background-image: url(./img/egg.jpg);
    /* https://nl.pinterest.com/pin/82190761943000508/ */
}


.gerecht9 {
    background-image: url(./img/meat.jpg);
    /* https://nl.pinterest.com/pin/140806231755134/ */
}


.wrapper .container-overzicht  {
    width: 100%;
}

.container-overzicht a {
    background-color: #806987;
    color: antiquewhite;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.container-overzicht:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.about1 {
    padding: 10px 15px;
    background-color: #8AB17D;
}

.about2 {
    padding: 10px 15px;
    background-color: #789b6c;
}

.about3 {
    padding: 10px 15px; 
    background-color: #8AB17D;
}

.about-p {
    text-align: left;
}

.about-text {
    text-align: left;
}

.loempias1 {
    text-align: left;
    margin: 10px 10px;
}

ul {
    color: antiquewhite;
    margin: 0px 0px 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

ol {
    color: antiquewhite;
    margin: 0px 0px 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.loempias2 {
    text-align: left;
    margin: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: bottom;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
}

